/* ==========================================================================
   Variables SCSS
   ========================================================================== */

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font_size_tab: 13px;

$white: #ffffff;
$blue: #00a0d2;
$blue_alt: #0073aa;
$green: #009628;
$green_alt: #009d29;
$light-grey: rgb(221, 221, 221);
$grey: #666666;
$grey_dark: #6b6e72;
$grey_dark_2: #dddddd;
$red: #e02626;
$red_alt: #f85959;

$primary_color: $blue;
$primary_button_color: $primary_color;
$primary_button_color_hover: $blue_alt;

$danger_button_color: $red;
$danger_button_color_hover: $red_alt;
$success_button_color: $green;
$success_button_color_hover: $green_alt;

$color_bg: #f1f1f1;

$header-height: 80px;
