/* Frontend CSS */
.woowbox-gallery-wrap {
  box-sizing: border-box !important; }
  .woowbox-gallery-wrap * {
    box-sizing: border-box !important; }
  .woowbox-gallery-wrap svg {
    vertical-align: baseline !important; }
